body {
    background-image: url("./bilder/image-24.jpg");
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: "Playfair Display", serif;
    margin-left: 100px;
}
p {
    font-family: "Playfair Display", system-ui;
    background-color: rgba(0, 145, 255, 0.313);
    width: 500px;
    padding: 20px;
    margin-left: 100px;
    border-radius: 10px;
}
img {
    margin-left: 100px;

}
a {

}